/* modelo */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --cor-principal: #338b85;
  --turquesa-escuro: rgb(0, 86, 95);
  --turquesa-claro: #9ce0db;
  --turquesa-bg: #f3fcfb;
  --cinza-escuro: #6d6d6d;
  --cinza-claro: #bdbdbd;
  --sombra: #338b853a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: var(--turquesa-bg);
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

/* HEADER */

.barra-menu {
  display: flex;
  background-color: var(--turquesa-escuro);
  width: 80%;
  height: 100px;
  position: fixed;
  padding: 10px 40px;
  margin: 0 auto;
}

.barra-menu nav {
  position: relative;
  width: 100%;
}

.barra-menu a {
  color: white;
}

.menu-lista {
  position: absolute;
  right: 20px;
  bottom: 30px;
  display: flex;
  gap: 35px;
  list-style: none;
  padding-bottom: 3px;
}

.menu-links {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 10px;
  display: block;
}

.menu-links::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  width: 0px;
  height: 1.5px;
  background: white;
  transition: all 300ms ease-in-out;
}

.menu-links:hover::after {
  left: 5%;
  width: 90%;
}

.titulo-principal {
  display: flex;
  align-items: center;
  gap: 5px;
}

.titulo-principal img {
  filter: invert(100%) contrast(200%) brightness(100%);
  width: 70px;
}

#menu-drop {
  display: none;
}

.minimenu {
  position: fixed;
  height: 60px;
  width: 60px;
  cursor: pointer;
  right: 10%;
  display: none;
}

.burger {
  display: block;
  position: relative;
  background: white;
  top: 65%;
  width: 30px;
  height: 2px;
  transition: .5s ease-in-out;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  background-color: white;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease-in-out;
}

.burger::before {
  top: -10px;
}

.burger::after {
  bottom: -10px;
}

@media (max-width: 990px) {
  .minimenu {
    display: inline-flex;
  }

  #menu-drop:checked ~ .menu-label .burger {
    transform: rotate(45deg);
  }

  #menu-drop:checked ~ .menu-label .burger::before {
    transform: rotate(90deg);
    top: 0;
    height: 0;
  }

  #menu-drop:checked ~ .menu-label .burger::after {
    transform: rotate(90deg);
    bottom: 0;
  }

  .barra-menu nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: var(--turquesa-escuro);
    transition: 0.3s ease;
    overflow: hidden;
  }

  #menu-drop:checked ~ nav {
    height: 19em;
  }

  .menu-lista {
    flex-direction: column;
    list-style: none;
    padding-bottom: 3px;
    right: 40%;
    bottom: 90px;
  }

  .menu-links {
    text-align: center;
    top: 40px;
  }

  .menu-links:hover::after {
    width: 80%;
    left: 10%;
  }
}

/* MAIN & FOOTER  */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 130px 30px 80px;
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

#footer {
  margin-top: 100px;
  text-align: center;
  height: 70px;
  background-color: white;
}

#footer p {
  border-top: 1px solid var(--cinza-claro);
  padding: 20px;
}

#footer a,
#footer p {
  color: var(--cinza-escuro);
  font-size: 12px;
}

#footer a:hover {
  color: var(--cor-principal);
}

#footer .github-icon {
  color: var(--cinza-claro);
}

.github-icon svg,
.github-icon path {
  fill: currentColor;
}

/* INDEX */

.box-descricao {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 30px;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
  height: fit-content;
  padding: 25px 30px;
  margin: 20px auto;
}

.box-descricao p {
  font-size: 18px;
}

.botao-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.botao-index h2 {
  color: var(--turquesa-escuro);
  font-size: 30px;
  font-weight: 600;
}

.botao-index img {
  margin-top: 10px;
  width: 60px;
  transition: all 300ms ease-in-out;
}

.botao-index .coruja {
  margin-top: 0;
  width: 90px;
}

.botao-index img:hover {
  opacity: 0.7;
}

.tech-span {
  color: var(--turquesa-escuro);
  font-size: 120%;
  font-weight: 700;
}

/* GLOSSARIO */

.cabecalho {
  display: grid;
  justify-items: center;
  gap: 15px;
}

.abc {
  text-transform: uppercase;
  text-align: center;
  padding: 7px;
  color: var(--turquesa-escuro);
  font-size: 25px;
  font-weight: 600;
}

.abc:hover {
  color: var(--cor-principal);
}

.barra-de-pesquisa {
  margin: 10px 20px;
  padding: 5px;
  border: 1px solid var(--cinza-escuro);
  border-radius: 15px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  justify-self: end;
}

.barra-de-pesquisa input {
  padding: 0 7px;
  border: none;
  outline: none;
}

.barra-de-pesquisa button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0 5px;
}

.barra-de-pesquisa button:hover {
  filter: opacity(0.5);
}

.barra-de-pesquisa button img {
  border: none;
  width: 14px;
}

.add-conceitos {
  display: flex;
  gap: 10px;
  margin: 30px auto;
}

.add-conceitos input {
  padding: 0 10px;
  outline: none;
  border: 1px solid var(--cinza-escuro);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.add-conceitos button {
  border: none;
  background-color: transparent;
  padding: 4px;
  cursor: pointer;
}

.add-conceitos button:hover {
  opacity: 0.7;
}

.glossario {
  display: grid;
  row-gap: 15px;
  padding: 20px;
}

.glossario h2 {
  color: var(--turquesa-escuro);
  text-transform: uppercase;
}

.glossario-botoes {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.glossario-botoes button img,
.glossario-botoes button {
  cursor: pointer;
  width: 18px;
  background-color: transparent;
  border: none;
}

.glossario-botoes button img:hover {
  opacity: 0.5;
}

/* POPUP GLOSSARIO */

.alterar-form {
  width: 80%;
  height: 40px;
  margin-bottom: 65px;
}

.alterar-form input {
  margin-bottom: 15px;
  padding: 5px 10px;
  border: 1px solid var(--cinza-escuro);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  outline: none;
  align-self: center;
}

.alterar-form button {
  display: flex;
  align-items: center;
  border: none;
  width: 15px;
  margin: 5px;
  cursor: pointer;
  background-color: transparent;
  color: var(--cor-principal);
}

.alterar-form button img:hover {
  opacity: 0.7;
}

/* TAREFAS */

.tarefas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.tarefas ul {
  list-style: none;
}

.tarefas .tarefa {
  width: 250px;
}

.okay {
  text-decoration: line-through;
  color: var(--cinza-escuro);
}

.check-box {
  margin-right: 5px;
}

.checked:hover,
.unchecked:hover {
  opacity: 0.5;
}

.tarefas li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tarefas li:last-child {
  margin-bottom: 10px;
}

.tarefas li button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.tarefas li img {
  width: 15px;
}

#addtarefa {
  border: 1px solid var(--cinza-escuro);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 20px 0 30px;
  width: 340px;
  height: 40px;
  display: inline-block;
}

#addtarefa input {
  padding: 0 5px;
  margin: 10px 8px;
  border: none;
  outline: none;
  width: 300px;
}

#addtarefa button {
  border: none;
  color: var(--cor-principal);
  background-color: transparent;
  cursor: pointer;
  font-size: 1.2em;
}

#addtarefa button:hover {
  color: var(--turquesa-claro);
}

.todo {
  width: 365px;
  height: fit-content;
  margin: 20px;
}

.todo h2 {
  margin-bottom: 10px;
}

.prioridades {
  width: 390px;
  margin: 20px;
}

.prioridades ul {
  height: fit-content;
  padding: 20px 20px;
  border: 1px solid var(--cinza-escuro);
  border-radius: 20px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.5);
}

.prioridades h2 {
  margin-bottom: 30px;
}

.tarefas-botoes {
  display: flex;
  align-items: baseline;
}

.tarefas-botoes img {
  margin-left: 6px;
}

.tarefas-botoes button:hover {
  filter: opacity(0.6);
}

/* POP-UP - AMBOS */

.popup-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.popup-conteudo {
  display: grid;
  background: white;
  padding: 30px;
  border-radius: 20px;
}

/* POPUP TAREFAS */

.form-alterar {
  border: 1px solid var(--cinza-escuro);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 10px 0;
  width: 345px;
  height: 40px;
  display: inline-block;
}

.form-alterar input {
  margin: 10px 5px;
  padding: 0 5px;
  border: none;
  outline: none;
  width: 300px;
}

.form-alterar button {
  padding: 10px 0;
}

/* SOBRE */

.sobre {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  justify-items: center;
}

.card {
  border: 1px solid var(--cinza-claro);
  border-radius: 20px;
  padding: 10px;
  box-shadow: 3px 3px 10px 2px var(--sombra);
  font-size: 1em;
  /* Pra quando as telas forem menores que 768px: */
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .sobre {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    display: grid;
    justify-self: stretch;
    grid-template-rows: [foto] auto [bio] 1fr [links] 60px [fim] 5px;
  }
}

@media screen and (min-width: 1024px) {
  .sobre {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card img {
  width: 100%;
  height: auto;
  /* Isso aqui força a imagem a manter a proporção */
  max-width: 250px;
  border-radius: 100%;
  margin: 0 auto 10px auto;
}

.card h4 {
  margin-top: 5px;
}

.card p {
  margin: 5px 0 10px;
}

.card-links {
  display: flex;
  justify-content: space-evenly;
}

.card-links svg,
.card-links path {
  fill: currentColor;
}

.card-links a {
  color: var(--cinza-escuro);
  padding: 5px 0;
}

.card-links a:hover {
  color: var(--cor-principal);
}
