{% extends 'modelo.html' %} {% block title %}
<title>Glossário</title>
{% endblock %} {% block body %}

<section>
  <div class="cabecalho">
    <div class="barra-de-pesquisa">
      <form action="/glossario">
        <input
          type="text"
          name="pesquisar"
          placeholder="Pesquisar"
          ,
          autocomplete="off"
        />
        <button type="submit">
          <img src="../static/imagens/search.png" alt="" />
        </button>
      </form>
    </div>

    <div class="procurar">
      <div class="alfabeto">
        {% for letra in "abcdefghijklmnopqrstuvwxyz" %}
        <a href="#{{letra}}" class="abc">{{letra}}</a>
        {% endfor %}
      </div>
    </div>

    <form class="add-conceitos" action="/glossario" method="POST">
      <input
        type="text"
        name="termo"
        placeholder="Termo"
        autocomplete="off"
        required
      />
      <input
        size="40"
        type="text"
        name="definicao"
        placeholder="Definição"
        autocomplete="off"
        required
      />
      <button type="submit">
        <svg
          width="20"
          height="20"
          viewBox="0 0 28 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M1 14H14M14 14H27M14 14V1M14 14V27"
            stroke="#00565F"
            stroke-width="3.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
    </form>
  </div>

  <div class="glossario">
    {% if pesquisa %}
    <h2>Resultados para <span>"{{pesquisa}}"</span></h2>
    {% for termo, descricao in pesquisado.items() %}
    <h2>{{termo}}</h2>
    <p>{{descricao}}</p>

    <div class="glossario-botoes">
      <button class="alterar-conceito" data-target="popup">
        <img src="../static/imagens/lapis.png" alt="editar" />
      </button>
      <div class="popup-bg">
        <div class="popup-conteudo">
          <form
            class="alterar-form"
            action="/alterar-termo/{{termo}}"
            method="POST"
          >
            <input
              type="text"
              name="novotermo"
              placeholder="Editar termo"
              autocomplete="off"
            />
            <input
              type="text"
              size="35"
              name="novadefinicao"
              placeholder="Editar definição"
              autocomplete="off"
            />
            <button type="submit">
              <img src="../static/imagens/update-icon.svg" alt="update" />
            </button>
          </form>
        </div>
      </div>

      <form method="POST" action="/deletar/{{termo}}">
        <input type="hidden" name="confirmacao" id="confirmacao" />
        <button type="submit" onclick="return confirmarExclusao()">
          <img src="../static/imagens/icon-lixo.png" alt="deletar" />
        </button>
      </form>
    </div>
    {% endfor %} 
    </div>
    {% else %} 
    <div class="glossario">{% for termo, descricao in glossario %}
      <!-- glossario significa conceitos no app.py -->
    <h2>{{termo}}</h2>
    <p>{{descricao}}</p>

    <div class="glossario-botoes">
      <button class="alterar-conceito" data-target="popup">
        <img src="../static/imagens/lapis.png" alt="editar" />
      </button>
      <div class="popup-bg">
        <div class="popup-conteudo">
          <form
            class="alterar-form"
            action="/alterar-termo/{{termo}}"
            method="POST"
          >
            <input
              type="text"
              name="novotermo"
              placeholder="Editar termo"
              autocomplete="off"
            />
            <input
              type="text"
              size="35"
              name="novadefinicao"
              placeholder="Editar definição"
              autocomplete="off"
            />
            <button type="submit">
              <img src="../static/imagens/update-icon.svg" alt="update" />
            </button>
          </form>
        </div>
      </div>
      <form method="POST" action="/deletar/{{termo}}">
        <input type="hidden" name="confirmacao" id="confirmacao" />
        <button type="submit" onclick="return confirmarExclusao()">
          <img src="../static/imagens/icon-lixo.png" alt="deletar" />
        </button>
      </form>
    </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</section>

{% endblock %}
